//customize variables
$primary:#5265E1 ;
$secondary:#FA5959 ;
$info: white;
$font-family-base:'Rubik', sans-serif;


//import Bootstrap
@import "./node_modules/bootstrap/scss/bootstrap";

.image1{
  z-index: 2;
}
.figure1{
  z-index: 1;
  top: -70%;
  left: 27%;
}
.image2{
  z-index: 2;
}
.figure2{
  z-index: 1;
  top: -80%;
  right: 15%;
}
.image3{
  z-index: 2;
}
.figure3{
  z-index: 1;
  top: -70%;
  right: 15%;
}
.image4{
  z-index: 2;
}
.figure4{
  z-index: 1;
  top: -70%;
  right: 15%;
}
.nav-tabs .nav-link.active{
  border-bottom: 3px solid $secondary;
}
.card-img-top{
  width: auto;
  height: 8rem;
}
.card2{
  top: 10%;
}
.card3{
  top: 20%;
}