//customize variables
$primary:#5265E1 ;
$secondary:#FA5959 ;
$info: white;


//import Bootstrap
@import "./node_modules/bootstrap/scss/bootstrap";

.image1{
  z-index: 2;
}
.figure1{
  z-index: 1;
  top: -70%;
  left: 27%;
}